
snippet r
	<% ${1} %>${2}
snippet re
	<% ${1} %>${2}
snippet rr
	<%= ${1} %>${2}
snippet er
	<% ${1} %>${2}
snippet erw
	<%= ${1} %>${2}
snippet form_for
	<% form_for ${1} do %>
	  ${2}
	<% end %>
snippet link_to
	<%= link_to ${1} %>${2}
snippet each
	<% ${1:list}.each do |${2}| %>
	  ${3}
	<% end %>${4}
