########################################
# Ruby snippets - for Rails, see below #
########################################

snippet it
	it 'should ${1}' do
	  ${2}
	end
snippet con
	context '${1}' do
	  ${2}
	end
snippet bef
	before do
	  ${1}
	end
snippet des
	describe '${1}' do
	  ${2}
	end
