snippet exp
expect(${1}).to ${2}
endsnippet

snippet succ
expect(response).to be_success
endsnippet

snippet as
expect(assigns(:${1})).to eq ${2}
endsnippet

snippet red
expect(response).to redirect_to ${1}
endsnippet

snippet beff
before { ${1} }
endsnippet

snippet itt
it { ${1} }
endsnippet

snippet fe
feature '${1}' do
  ${2}
end
endsnippet

snippet sce
scenario '${1}' do
  ${2}
end
endsnippet

snippet del
delegate :${1}, to: :${2}
endsnippet
